*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-flex{
    display: flex;
}
/* styling the header section */
#top{
    background-image: url("/images/h_img.jpg");
    background-size: cover;
    height: 100vh;
    padding: 19rem;
}
.hey{
    font-family: 'Bevan', cursive;
    color: white;
}
.me{
    font-size: 55px;
}
.you{
    padding-top: 10rem;
}
/* about styling */
#about{
    margin: 4rem 0rem;
}
.abou{
    font-family: 'Bevan', cursive;
}
/* services styling */
#middle-1{
    background-image: url("/images/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding-top: 9rem;
}
.boy{
    /* margin-left: 10px; */
    /* justify-content: space-around; */
}
#middle-2{
    background-image: url("/images/c_image.jpg");
    background-position: center;
    height: 69vh;
    margin-top: 6rem;
}