*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* styling the header section */
#top{
    background-image: url("/images/h_img.jpg");
    background-size: cover;
    height: 100vh;
    padding: 19rem;
}
.hey{
    font-family: 'Bevan', cursive;
    color: white;
}
.me{
    font-size: 55px;
}
.you{
    padding-top: 10rem;
}
#about{
    margin: 4rem 0rem;
}
.abou{
    font-family: 'Bevan', cursive;
}